/*
 * Left menu
 */
.engine .left-menu {
  float:left;
  width:150px;
}
.list-type-style-none {
  list-style-type:none;
  padding-left:0;
}
.list-type-style-none li {
  margin-bottom:5px;
}

/*
 * SVG workflow 2D context
 */
svg {
  overflow:hidden;
}
.state {
  fill:#eee;
  stroke:#333;
  stroke-width:1px;
  overflow:none;
  cursor:pointer;
}
.state-txt {
  cursor:pointer;
}
.transition-create-text {
  fill:#000;
  cursor:default;
}
.transition-create-circle {
  fill:#337ab7;
  stroke:#fff;
  stroke-width:1;
}
.transition-create-circle:hover {
  stroke-width:2;

}
.transition-line {
  stroke:#337ab7;
  stroke-width:1;
}
