/*
 * Left menu
 */
.engine .left-menu {
  float:left;
  width:150px;
}
.list-type-style-none {
  list-style-type:none;
  padding-left:0;
}
.list-type-style-none li {
  margin-bottom:5px;
}

/*
 * SVG workflow 2D context
 */
svg {
  overflow:hidden;
}
.state {
  cursor: move;
}
.state-rect {
  fill:#eee;
  stroke:#333;
  stroke-width:1px;
}
.state .transition-create {
  cursor: pointer;
}

.transition-create-text {
  fill:#000;
}
.transition-create-circle {
  fill:#337ab7;
  stroke:#333;
}

.transition-create, .transition-create {
  stroke-width:1;
}
.transition-create:hover, .transition-create:hover {
  stroke-width:2;
}

.transition {
  stroke-width:1;
}
.transition:hover {
  cursor:pointer;
  stroke-width:2;
}
.transition-line {
  stroke:#337ab7;
}
.transition-circle {
  fill:#337ab7;
  stroke:#333;
}
.transition-circle-text{
  fill:#000;
}

.columns {
  overflow: hidden;
}
.left-side {
  float:left;
  width:50%;
}
.right-side {
  float:right;
  width: 50%;
}
