body {
  background-color:#000;
  color:#aaa;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* orange: #f0ad4e */

/*
 * Top menu
 */
.buttons {
   margin:5px auto auto 185px;
}
.buttons .btn {
  margin-left:5px
}
.buttons span {
  margin-left: 15px;
}
.bootstrap-switch {
  margin-left:5px;
}

/*
 * Left menu
 */
.engine .left-menu {
  float:left;
  width:180px;
  padding-top: 5px;
}
.list-type-style-none {
  list-style-type:none;
  padding-left:0;
}
.list-type-style-none li {
  margin-bottom:5px;
}

.right-sidebar {
  float:right;
  width: 250px;
}

.center{
  text-align: center;
}
.center .btn {
  margin-left:5px;
}
.col-xs-8.form-control {
  width: 65%;
  margin-right: 1%;
}

/*
 * Form State Sockets
 */

 .columns {
   overflow: hidden;
 }
 .left-side {
   float:left;
   width:49%;
 }
 .right-side {
   float:right;
   width: 49%;
 }

 .sockets .form-control {
  width: 65%;
  margin-right:1%;
}

/*
 * SVG workflow 2D context
 */

text {
  text-shadow: 1px 1px 0 black;
}

svg.context {
  margin:10px 5px 5px;
  overflow:hidden;
  background-color:#ccc;
  opacity:1;
  border:1px solid #fff;
}
.diagram-objects {
  transform-origin: 50% 50%;
}
.selection {
  fill:#aaa;
  stroke:#000;
  stroke-width:1px;
  stroke-dasharray:2,2;
  opacity:0.5;
}

.node {
  cursor: move;
  opacity:1;
}
.node.active .node-rect {
  stroke-width:2px;
}
.node.selected .node-rect {
  stroke-width:2px;
  stroke-dasharray:2,2;
}
.node-rect {
  fill:#000;
  stroke:#fff;
  stroke-width:1;
}
.subnet .node-rect {
  fill:#003000;
}
.place .node-rect {
  fill:#000030;
}
.place.start-place .node-rect,
.place.finish-place .node-rect {
  fill:#422;
}
.node-txt {
  fill:#fff;
  font-size: 10pt;
}
.node:hover .node-rect {
  stroke-width:2px;
}
.node:hover .node-txt {
  fill:#fff;
}

.socket {
  stroke:#aaa;
  stroke-width:1;
  cursor: pointer;
}
.socket {
  fill:#a44;
}
.socket:hover {
  stroke:#fff;
  stroke-width:2px;
}
.socket-in-drawing-mode {
  transform: scale(1.5);
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-in-out;
}

.group .group-header {
  fill : #fff;
}
.group-rect,
.group > .node > .node-rect {
  fill:#666;
  stroke:#222;
  stroke-width:1;
  fill-opacity: 0.5;
}
.milestone .group-rect {
  fill:#999;
  stroke:#444;
}
.phase .group-rect {

}

.circle-button {
  fill:#25a;
  stroke:#aaa;
  stroke-width:1;
  cursor: pointer;
}
.circle-button .circle {
  stroke:#fff;
  fill:#25a;
}
.circle-button .circle.remove-button {
  fill:#d9534f;

}
.circle-button:hover {
  stroke:#fff;
}
.circle-button .circle-button-text {
  fill:#ddd;
  stroke-width:0;
}
.circle-button:hover .circle-button-text {
  fill:#fff;
}

.arc {
  stroke-width:1;
  fill:none;
  stroke:#fff;
  opacity:1;
}
.arc:hover {
  cursor:pointer;
  stroke-width:2;
}
.arc .arc-line {
  stroke-width: 3;
}
.arc:hover .arc-line {
  stroke-width: 3;
}
.arc-marker {
  stroke:#fff;
  fill:#fff;
}

.dim-layer {
  fill:#000;
  opacity: 0.5;
}
