$viewer_width: 210px * 3;
$heifht: 297px * 3;
$relation_width: 300px;

.pdf-relations-container {
  position: relative;

  .pdf-viewer-column {
    width: $viewer_width;
    position: absolute;
    top: 0;
    left: 0;

    .pdf-viewer {
      height: $heifht;
    }
  }

  .pdf-relations-column {
    position: absolute;
    left: $viewer_width * 1.2;
    top: 0;

    .relation-node {
      display: inline-block;
      margin-right: 25px;

      .relation-node-field {
        overflow: hidden;

        .field-name {
          width: 85px;
          float: left;
        }

        .field-value {
          float: left;
          margin-left: 10px;
          color: darkgreen;
        }
      }
    }
  }

  .rl-info {
    color: darkgreen;
  }

  .rl-warning {
    color: darkred;
  }
}
